*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.canvas-container {
    background-color: #a1887f;
    width: 40vw;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
    border: 1px solid black;
}

button {
    margin-top: 1.5em;
}

img {
    width: 100%;
    display: block;
}

.image-gallery {
    width: 80%;
    margin: 2em auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 10px;

    padding: 60px;
    margin: 0 auto;
}
