*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'montserrat';
    color: var(--clr-secondary);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 30px;
}

p {
    margin-bottom: 16px;
    margin: 0;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

ul {
    font-size: 1.1875em;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
