.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1/-1;
}

.meme-editor {
    display: flex;
    flex-direction: column;
}

.gallery-container,
.saved-memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.canvas-container,
.editor-controls {
    margin: 0 auto;
    max-width: 100%;
}

