.main-nav .main-nav-list {
    gap: 0.9375em;
    display: grid;
    grid-auto-flow: column;
    color: white;
}

.main-nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-nav-list a {
    height: 70px;
    position: relative;
    display: inline-block;
    padding-top: 1.2em;
}

.main-nav-list a:hover {
    color: var(--clr-secondary);
    border-bottom: 4px solid var(--clr-secondary);
}

.main-nav-list li {
    position: relative;
    padding-right: 0.9375em;
}

.main-nav-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 15%;
    height: 80%;
    width: 1px;
    background-color: gray;
    padding-top: 1.2em;
}
