.main-header {
    padding: 0 1rem;
    background-color: var(--clr-primary-base);
    color: var(--clr-secondary-2);
    height: 70px;
    margin-bottom: 1.6875em;
}

.main-header img {
    max-width: 150px;
}
