img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.image-gallery {
    flex: 1;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.meme-editor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: var(--clr-secondary-2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.canvas-container {
    flex: 1;
    max-width: 500px;
    margin-bottom: 1rem;
    background-color: var(--clr-secondary-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    background-color: var(--clr-secondary-2);
    border: 1px solid var(--clr-secondary);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 30px;
    height: 30px;
}

.download-link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    background-color: #008cba;
    color: var(--clr-secondary-2);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #006494;
}
