.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    background-color: var(--clr-primary-base);
    color: var(--clr-secondary-2);
    height: 70px;
    margin-bottom: 1.6875em;
    width: 100%;
}

.main-header img {
    max-width: 150px;
}

.main-header .btn-toggle-menu {
    background-color: inherit;
    border: 0;
    width: 42px;
    cursor: pointer;
}

.main-header .btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 42px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header .btn-toggle-menu .hamburger-lines .line {
    height: 4px;

    width: 100%;
    transition: 0.4s;
    background-color: var(--clr-secondary-2);
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: top right;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: bottom right;
}
